{% extends 'shared/base.html' %} 

{% load static %} 
{% block title %}Admin-dashboard{% endblock %}
{% block content%}
<br>
<div class="container">
    <a href="{% url 'create' %}">
        <button type="button" class="btn btn-primary">Veranstaltung einlegen</button>
    </a>
    <a href="{% url 'advertising-update' 1%}">
        <button type="button" class="btn btn-danger">Werbung bearbeiten</button>
    </a>

    <a href="{% url 'groups-dashboard' %}">
        <button type="button" class="btn btn-primary">Groups</button>
    </a>
<br><br>

    <table id="_appendHere" class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Veranstaltung</th>
            <th scope="col">Veranstalter</th>
            <th scope="col">Berufsgruppe</th>
            <th scope="col">Room</th>
            <th scope="col">Ort</th>
            <th scope="col">Datum,Urzeit</th>
            <th scope="col">bearbeiten</th>
            <th scope="col">löschen</th>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
            <th scope="row"> {{ appointment.id }}</th>
                <td>{{appointment.party_type}}</td>
                <td>{{appointment.party_organizer}}</td>
                <td>{{appointment.group}}</td>
                <td>{{appointment.room}}</td>
                <td>{{appointment.location}}</td>
                <td>{{appointment.party_date}}</td>
                <td>
                    <a href="{% url 'update' appointment.id %}">
                        <button type="button" class="btn btn-warning">bearbeiten</button>
                    </a>
                </td>

                <td>
                    <a href="{% url 'delete' appointment.id %}">
                        <button type="button" class="btn btn-danger">löschen</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br><hr><br>
</div>



<br>
  


{% endblock %} 


